<div class="my-3">
<h4>Add new property</h4>
<form (ngSubmit)=onSubmit()>
    <div class="form-group">
      <label for="title" >Property name</label>
      <input type="text"  class="form-control" id="title"
      name="title" aria-describedby="emailHelp" [(ngModel)]="title">
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" class="form-control"  name="desc" id="desc" [(ngModel)]="desc">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="text" class="form-control" name="size" id="size" [(ngModel)]="size">
      </div>
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
  </div>